.pageWrap{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#logo {
    color:#fff;
    margin-bottom: 0;
    text-align: center;
}

.wrap {
    max-width: 980px;
    margin: 0 auto!important;
}
.headerDivider.ant-divider.ant-divider-vertical{
    float: left;
    height: 44px;
    margin: 10px 0;
}
#nav{
    float: left;
    margin-left: 30px;
    background: none;
    border: none;
    line-height: 62px;
}

#nav a{
    color: #fff;
}
#nav .ant-menu-item-selected a{
    color: #1890ff;
}
.xsNav{
    position: absolute!important;
    right: 0;
    top: 0;
    width: auto!important;
}

.main{
    flex:1;
}

.main .wrap{
    border: 1px solid #ccc;
    border-top: none;
}
#indexMenu{
    text-align: center;
    border-right: none!important;
}
#indexMenu li{
    margin-right: -1px;
    transition: none;
    user-select: none;
    border-right: 3px solid rgba(0, 0, 0, 0);
}
#indexMenu li:hover,
#indexMenu .ant-menu-item-selected{
    background-color: #e6f7ff;
    border-right-color: #1890ff;
}

.indexList p{
    margin: 0;
}

.indexList {
    padding: 0 10px!important;
    border-left: 1px solid #e8e8e8;
    min-height: 800px!important;
}

#indexXsMenu{
    display: flex;
    text-align: center;
}

#indexXsMenu li{
    flex: 1;
    
}

.wrap img {
    width: 100%;
}

.linkList img{
    width: 240px;
}

.ant-list-item-meta {
    align-items: center!important;
    min-width: 200px;
}

.ant-list-item-action {
    margin-left: 48px;
}

.userAvatar{
    display: block!important;
    margin: 10px auto!important;
    width: 100px!important;
    height: 100px!important;
}

.userInfo{
    text-align: center;
    line-height: 24px;
    padding-bottom: 10px;

}

.userList .ant-list-item{
    position: relative;
}

.userList .userName{
    margin: 0 10px 0 5px;
}

.ant-list-pagination{
    margin-bottom: 12px;
}

.userList time{
    position: absolute;
    right: 0;
    top: 0;
}

.userList .ant-list-item-content {
    display: block;
}

.userList h4{
    display: inline-block;
    margin: 0;
}

.userList .ant-list-item *{
    vertical-align: middle;
}

@media add and (max-width:767px){
    .userList h4{
        display: block;
    }
}
/*
    自制自适应布局
 */
/* @media all and (max-width: 767px){
    #indexMenu{
        display: flex;
        border-bottom: 1px solid #ccc;
    }

    #indexMenu li {
        flex:1;
        margin: 0 0 -1px 0;
        border:none;
        border-bottom: 3px solid rgba(0, 0, 0, 0);
    }

    #indexMenu li:hover,
    #indexMenu .ant-menu-item-selected{
        background: none;
        border-bottom-color: #1890ff;
    }
    .indexList{
        border-left: none;
    }
} */